*{
    margin:0;
    padding:0;    
}
nav{    
    width: 100%;
    height: 50px;
    background-color: whitesmoke;
    line-height: 40px;
    position: sticky;
    top: 0;
}
nav ul{	
    float: right;
    margin-right: 10px;    
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 5px 0px 5px 15px;   
}
nav ul li a{ 
    text-decoration: none;    
    display:inline-block;    
    color:#474747;          
    font-family: sans-serif;    
    text-transform: uppercase;
}
nav img{
    padding: 5px 0px 5px 10px;    
    float: left;
    width: 40px;
    height: 40px;
}
nav ul li a:hover{
    background-color: #C14150;
    color: whitesmoke;
}
nav ul li.active a{
    color: yellow;
    background-color: #C14150;
    text-decoration: underline;
}	
nav ul li.active a:hover{			
    background-color: #C14150;
    color: yellow;
}