*{
    margin:0;
    padding:0;
}
.clear{
    clear:both;
}
.banner{
    background-image:url(background.jpg);			
    width:100%;
    height:650px;
    background-size:cover;
    background-repeat:no-repeat;
    position: absolute;			
}
nav ul{	
    background-color:transparent;
    list-style-type:none;
    overflow:hidden;
    float: right;
    padding: 0px;
    margin: 15px;
}
nav li {
    float:left;
}
nav li a{
    text-decoration: none;
    padding: 5px 10px;
    display:inline-block;
    color:#fff;
    background-color: #407E8C;
    border: 2px solid #fff;
    font-weight:bold;
    font-family: Dubai Light;
    transition: 0.6s ease;
}
nav ul li a:hover{
    background-color: #C14150;
    color: whitesmoke;
}
nav ul li.active a{
    color: yellow;
    background-color: #C14150;
    text-decoration: underline;
}	
nav ul li.active a:hover{			
    background-color: #C14150;
    color: yellow;
}
.logo img{			
    padding:10px 0 0 20px;
    float: left;
    width: 50px;
    height: auto;
}

/*
nav{			
    margin: 0px 10px 0px 10px; <!-- T|R|B|L -->
    position:relative;			
}
nav ul{
    background-color:#111;
    list-style-type:none;
    float: right;    
    overflow:hidden;		       				      
    width: 100%;
}
nav li{
    float: left;						    
}
nav li a{
    text-decoration: none;   
    padding: 10px 16px;
    display:inline-block;
    color:#fff;
    font-weight:bold;
}
a:hover{
    background-color: #966A2F;
    color: whitesmoke;
}
a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}	
.logo img{    
    padding:10px 0 0 20px;
    float: left;
    width: 80px;
    height: auto;
}*/